/www/.phpunit.cache
/www/node_modules
/www/public/build
/www/public/hot
/www/public/storage
/www/storage/*.key
/www/vendor
/www/.env
/www/.env.backup
/www/.env.production
/www/.phpunit.result.cache
/www/Homestead.json
/www/Homestead.yaml
/www/auth.json
/www/npm-debug.log
/www/yarn-error.log
/www/.fleet
/www/.idea
/www/.vscode
/www/composer.lock

.DS_Store
Thumbs.db
*.zip
.idea
.vscode

